@use "global" as *;

.blog{
  @include mq("md") {
    position: relative;
    padding-top: rem(100);
  }

}

.blog::after {
  display: none;
  @include mq("md") {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: 1440/500;
    object-fit: cover;
    height: rem(500);
    background-image: url(/assets/images/common/blog-pc-back.jpg);
    background-size: cover;
    top: 0;
    z-index: -1;
  }
}

.blog__inner::before {
  display: none;
  @include mq("md") {
    content: "";
    background-image: url(/assets/images/common/_blog-キンギョハナダイ.png);
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: rem(25);
    width: rem(437);
    height: rem(201);
    left: calc(50% - min(48%, 39rem));
  }
}




.blog__header {
  text-align: center;
  // margin-top: rem(80);
  @include mq("md") {
    // margin-top: rem(100);
  }
}

.blog__cards {
  // margin-inline: rem(6);
  @include mq("md") {
    // margin-inline:0;
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: rem(40);
    column-gap: rem(40);
    margin-top: rem(80);
  }
}

.blog-card a:hover {
  opacity: 0.5;
}

.blog-card {
  margin-top: rem(28);
  padding-top: rem(16);
  padding-right: rem(16);
  padding-left: rem(16);
  padding-bottom: rem(24);
  box-shadow: 0 0 10px rgba(#000000, 0.25);
  background-color: #fff;

  @include mq("md") {
    margin-top: 0;
    max-width: rem(333);
    // width: 100%;
  }
}

.blog-card:not(:first-child) {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
  }
}

.blog-card__figure img {
  aspect-ratio: 301/201;
  object-fit: cover;
}

.blog-card__header {
  margin-top: rem(24);
}

.blog__title {
  font-weight: normal;
  font-family: $second-font-family;
  font-weight: regular;
  font-size: rem(32);
  line-height: calc(40 / 32);

  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
    color: #ffffff;
  }
}

.blog__title::first-letter {
  color: $font-accent-color;
  @include mq("md") {
    color: #ffffff;
  }
}

.blog__subtitle {
  @include mq("md") {
    color: #ffffff;
  }
}

.blog-card__date {
  font-size: rem(12);
  line-height: calc(18 / 12);
  font-family: $second-font-family;
}

.blog-card__heading {
  line-height: calc(24 / 16);
  font-weight: 600;
  padding-bottom: rem(4);
  border-bottom: solid 1px $green-blue;
}

.blog-card__body {
  margin-top: rem(15);
}

.blog-card__text {
  font-weight: 500;
}

.blog__link {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}
