@use "global" as *;

// // .button {
// //   display: inline-block;
// //   max-width: rem(202);
// //   width: 100%;
// //   font-size: rem(14);
// //   line-height: 1;
// //   font-family: $second-font-family;
// //   padding-top: rem(20);
// //   padding-bottom: rem(20);
// //   padding-left: rem(40);
// //   background-color: $green-blue;
// //   color: #fff;
// //   position: relative;
// // }

// // .button::before {
// //   content: "";
// //   position: absolute;
// //   width: rem(202);
// //   height: rem(54);
// //   border: solid 1px #408f95;
// //   top: rem(4);
// //   left: rem(4);
// // }

// // .button-link {
// //   display: flex;
// //   // align-items: center;
// // }

// // .button-arrow.button-head{
// //   width: rem(40);
// //   height: rem(6);
// //   border-right: 1px solid #fff;
// //   border-bottom: 1px solid #fff;
// //   transform: skew(45deg);
// //   margin-left: rem(6);
// //   margin-top: rem(2);
// // }

// /* .
// -------------------------------------------------------------*/
// // ボタン
// // <div class="c-btn">button</div>

// // .c-btn.slide {
// //   background: #fff;
// //   color: #ff701e;
// //   overflow: hidden;
// //   position: relative;
// //   z-index: 1;
// // }
// // .c-btn.slide::after {
// //   background: #ff701e;
// //   position: absolute;
// //   top: 0;
// //   left: 0;
// //   content: '';
// //   width: 100%;
// //   height: 100%;
// //   transform: scale(0, 1);
// //   transform-origin: left top;
// //   transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
// //   z-index: -1;
// // }
// // .c-btn.slide:hover {
// //   color: #fff;
// // }
// // .c-btn.slide:hover::after {
// //   transform: scale(1, 1);
// // }

// .button {
//   display: inline-block;
//   max-width: rem(202);
//   width: 100%;
//   font-size: rem(14);
//   line-height: 1;
//   font-family: $second-font-family;
//   padding-top: rem(20);
//   padding-bottom: rem(20);
//   padding-left: rem(40);
//   background-color: $green-blue;
//   color: #fff;
//   position: relative;
// }

// .button::before {
//   content: "";
//   position: absolute;
//   width: rem(202);
//   height: rem(54);
//   border: solid 1px #408f95;
//   top: rem(4);
//   left: rem(4);
// }

// .button-link {
//   display: flex;
//   // align-items: center;
// }

// .button-arrow.button-head{
//   width: rem(40);
//   height: rem(6);
//   border-right: 1px solid #fff;
//   border-bottom: 1px solid #fff;
//   transform: skew(45deg);
//   margin-left: rem(6);
//   margin-top: rem(2);
// }

// .button.slide {
//   background: #fff;
//   color: #ff701e;
//   overflow: hidden;
//   position: relative;
//   z-index: 1;
// }
// .button.slide::after {
//   background: #ff701e;
//   position: absolute;
//   top: 0;
//   left: 0;
//   content: '';
//   width: 100%;
//   height: 100%;
//   transform: scale(0, 1);
//   transform-origin: left top;
//   transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
//   z-index: -1;
// }
// .button.slide:hover {
//   color: #fff;
// }
// .button.slide:hover::after {
//   transform: scale(1, 1);
// }

.button {
  font-family: $second-font-family;
  color: #ffffff;
  font-size: rem(14);
  display: inline-block;
  background: #408f95;
  margin-right: rem(5);
  border: 1px solid #408f95;
  position: relative;
  z-index: 2;
  transition: all 0.3s;
}

.button-area {
  display: inline-block;
  text-align: inherit;
  width: rem(200);
  height: rem(51);
  padding-top: rem(16);
  padding-right: rem(50);
}

.button-initial {
  display: inline-block;
  text-align: left;
  width: rem(200);
  height: rem(51);
  padding-top: rem(16);
  padding-left: rem(41);

  @include mq("md") {
    padding-left: rem(38);
    padding-right: rem(5);
  }
}

.button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: -1;
  background: #fff;
  transform-origin: 100% 50%;
  transform: scale(0, 1);
  transition: all 0.4s;
}
.button:hover p {
  color: #408f95;
}

.button:hover span {
  background-color: #408f95;
}

.button:hover::before {
  transform: scale(1, 1);
}

.button::after {
  content: "";
  display: block;
  position: absolute;
  width: rem(201);
  height: rem(54);
  top: rem(3);
  left: rem(4);
  z-index: -2;
  border: solid 1px $green-blue;
}

.button-arrow1,
.button-arrow2 {
  position: absolute;
  height: rem(1);
  background-color: #ffffff;
  display: block;
}

.button-arrow1 {
  width: rem(40);
  top: rem(26);
  right: rem(39);
}

.button-arrow2 {
  width: rem(10);
  right: rem(37);
  top: rem(23);
  transform: rotate(41deg);
}
