@use "global" as *;

.button {
  font-family: $second-font-family;
  color: #ffffff;
  font-size: rem(14);
  display: inline-block;
  background: #408f95;
  margin-right: rem(5);
  border: 1px solid #408f95;
  position: relative;
  z-index: 2;
  transition: all 0.3s;
}


.button-area {
  display: inline-block;
  text-align: inherit;
  width: rem(200);
  height: rem(51);
  padding-top: rem(16);
  padding-right: rem(50);
}


.button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: -1;
  background: #fff;
  transform-origin: 100% 50%;
  transform: scale(0, 1);
  transition: all 0.4s;
}
.button:hover p {
  color: #408f95;
}

.button:hover span {
  background-color: #408f95;
}

.button:hover::before {
  transform: scale(1, 1);
}

.button::after {
  content: "";
  display: block;
  position: absolute;
  width: rem(201);
  height: rem(54);
  top: rem(3);
  left: rem(4);
  z-index: -2;
  border: solid 1px $green-blue;
}

.button-arrow1,
.button-arrow2 {
  position: absolute;
  height: rem(1);
  background-color: #ffffff;
  display: block;
}

.button-arrow1 {
  width: rem(40);
  top: rem(26);
  right: rem(39);
}

.button-arrow2 {
  width: rem(10);
  right: rem(37);
  top: rem(23);
  transform: rotate(41deg);
}
