@use "global" as *;

.footer__wrapper {
  background-color: $green-blue;
  // background-color: $green-blue;
  padding-top: rem(48);
  padding-bottom: rem(56);

  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__inner {
  padding-left: rem(15);

  @include mq("md") {
    max-width: rem(1080);
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }
}

.footer__sns-icon {
  margin-top: rem(21);
  display: flex;
  @include mq("md") {
    margin-left: rem(40);
    margin-top: 0;
  }
}

.footer__headline {
  @include mq("md") {
    display: flex;
  }
}

.footer__sns-facebook {
  width: rem(24);
  height: rem(24);
  @include mq("md") {
    width: rem(32);
    margin-top: rem(38);
  }
}

.footer__sns-instagram {
  margin-left: rem(17);
  width: rem(24);
  height: rem(24);
  @include mq("md") {
    width: rem(32);
    margin-top: rem(38);
    margin-left: rem(16);
  }
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  color: $white;
  padding-top: rem(38);

  @include mq("md") {
    flex-wrap: nowrap;
    padding-top: rem(22);
  }
}

.footer__menu-left {
  @include mq("md") {
    display: flex;
  }
}

.footer__menu img {
  width: rem(18);
  height: rem(18);
}

.footer__menu h3 {
  font-size: rem(16);
}

.footer__logo {
  width: rem(120);
  height: rem(40);

  @include mq("md") {
    width: rem(200);
    height: rem(75);
  }
}

.footer-campaign__items {
  @include mq("md") {
    // padding-left: rem(5);
  }
}

.footer-campaign__list-title {
  display: flex;
  align-items: center;
}

.footer-campaign__list:hover a {
  opacity: 0.5;
}

.footer-campaign__list-head span {
  margin-left: rem(3);
}

.footer-campaign__list:not(:first-child) {
  margin-top: rem(18);
  padding-left: rem(23);
  @include mq("md") {
    margin-top: rem(18);
    padding-left: rem(22);
  }
}

// .footer-campaign__list:nth-of-type(2) {
//   padding-left: rem(18);
//   @include mq('md') {

//   }
// }

// .footer-campaign__list:nth-of-type(3) {
//   padding-left: rem(18);
// }

// .footer-campaign__list:nth-of-type(4) {
//   padding-left: rem(18);
// }

.footer__information {
  margin-top: rem(33);

  @include mq("md") {
    margin-top: 0;
  }
}

.footer__about a {
  display: flex;
  align-items: center;
  margin-top: rem(34);
  font-weight: 700;

  @include mq("md") {
    margin-top: rem(34);
  }
}

.footer__about:hover a {
  opacity: 0.5;
}

.footer__about p {
  margin-left: rem(3);
}

.footer-information__items {
  @include mq("md") {
    margin-left: rem(120);
  }
}

.footer-information__list-head {
  display: flex;
  align-items: center;
}

.footer-information__list-head span {
  margin-left: rem(3);
}

.footer-information__list:not(:first-child) {
  padding-top: rem(18);
  padding-left: rem(22);
  @include mq("md") {
    padding-left: rem(21);
    padding-top: rem(18);
    // margin-top: rem(18.5);
  }
}

.footer-information__list:hover a {
  opacity: 0.5;
}

.footer__blog {
  display: flex;
  align-items: center;
  margin-top: rem(33);
  font-weight: 700;
}

.footer__blog-link :hover {
  opacity: 0.5;
}

.footer__blog span {
  padding-left: rem(3);
}

.footer__menu-right {
  margin-left: rem(17);
  @include mq("md") {
    display: flex;
    margin-left: rem(0);
  }
}

.footer__voice {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.footer__voice-link {
}

.footer__voice-link span {
  padding-left: rem(3);
}

.footer__voice:hover a {
  opacity: 0.5;
}

.footer__price {
  @include mq("md") {
    margin-left: rem(122);
  }
}

.footer-price__items {
  padding-top: rem(33);
  // margin-top: rem(33);
  @include mq("md") {
    // padding-top: rem(35);
    // margin-top: rem(35);
  }
}

.footer-price__list-head {
  display: flex;
  align-items: center;
}

.footer-price__list-head span {
  padding-left: rem(3);
}

.footer-price__list:not(:first-child) {
  padding-left: rem(22);
  padding-top: rem(18);
  // margin-top: rem(18);

  @include mq("md") {
    padding-left: rem(20);
    // padding-top: rem(19);
    // margin-top: rem(19);
  }
}

.footer-price__list:hover a {
  opacity: 0.5;
}

.footer__faq {
  margin-top: rem(34);

  @include mq("md") {
    margin-top: rem(0);
    margin-left: rem(122);
  }
}

.footer-faq__list {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.footer-faq__list span {
  padding-left: rem(3);
}

.footer-faq__list:hover a{
  opacity: 0.5;
}

.footer-faq__list:not(:first-child) {
  padding-top: rem(36);
  // margin-top: rem(36);
  @include mq("md") {
    padding-top: rem(37);
    // margin-top: rem(35);
  }
}

.footer-faq__list span {
  padding-left: rem(4);
  line-height: 1.2;
  @include mq("md") {
    padding-left: rem(2);
  }
}

.footer-faq__list--flex {
  @include mq("md") {
    display: flex;
    align-items: center;
    @include mq("md") {
      align-items: initial;
    }
  }
}

.footer-faq__list--flex a {
  display: flex;
  flex-direction: column;

  @include mq("md") {
    flex-direction: row;
  }
}

.footer-faq__list--flex img {
  display: block;
  height: 100%;
  padding-bottom: rem(20);
  @include mq("md") {
    padding-bottom: rem(21);
  }
}

.footer-faq__list:nth-of-type(3) {
  @include mq("md") {
    padding-top: rem(16);
  }
}

.footer-faq__list:nth-of-type(4) {
  @include mq("md") {
    padding-top: rem(34);
  }
}

.footer__copyright {
  font-size: rem(12);
  color: $white;
  padding-top: rem(35);
  text-align: center;
  font-family: $second-font-family;
  // margin-top: rem(35);

  @include mq("md") {
    padding-top: rem(75);
    font-size: rem(14);
    // margin-top: rem(76);
  }
}
